# Python files
*.pyc
__pycache__/

# Virtual Environment
.venv/
venv/

# Django specific
*.log
local_settings.py

# Critical Security/Config files
.env  # Не должен попасть в публичный репозиторий!

# Database
db.sqlite3

# IDE files (PyCharm)
.idea/